* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Mali', cursive;
}

.app {
	min-height: 100vh;
	background-color: #F9FCFF;
}

.shell {
	max-width: 767px;
	padding: 0 15px;
	margin: 0 auto;
}

.header-bar {
	padding-top: 100px;
	padding-bottom: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(/images/background.jpg);
}

.header-bar h2 {
	color: #fff;
}

.main {
	position: relative;
	padding-top: 40px;
}
